# Ignore scapy folder
/implementazione/unione/scelta_type/scapy
/implementazione/packets/
implementazione/zeek
/Temp
*.pcapng
*.pcap
/__pycache__
implementazione/unione/__pycache__ 
implementazione/unione/scelta_type/__pycache__
in_caso_non_la_invia.png
implementazione/unione/scelta_type/__pycache__/.
1._Titolo_tesi_Lettere_eccc.pdf 







