# Ignore scapy folder
/implementazione/unione/scelta_type/scapy
/implementazione/packets/
implementazione/zeek
/Temp
*.pcapng
*.pcap
/__pycache__
implementazione/unione/__pycache__ 
implementazione/unione/scelta_type/__pycache__
in_caso_non_la_invia.png
implementazione/unione/scelta_type/__pycache__/.
1._Titolo_tesi_Lettere_eccc.pdf 
implementazione/unione/scelta_type/ACN-GPDP Linee Guida Conservazione Password.pdf
implementazione/unione/scelta_type/Becoming a better programmer_100954 (1).pdf
implementazione/unione/scelta_type/Making Sense of Phrasal Verbs.pdf
implementazione/unione/scelta_type/main.pdf
implementazione/unione/scelta_type/passwordguidelines.pdf
implementazione/unione/scelta_type/test_gpt.py
implementazione/unione/scelta_type/5 Best Docker Books to Learn in 2024 _ by javinpaul _ Javarevisited _ Medium.pdf
_TesiMagistrale-bella/Programma/__pycache__/
_TesiMagistrale-bella/Programma/scapy/__pycache__/


